# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
.classpath
.project
.settings
InvokeRequire.bin

# Ignore libs from idea
/design/lib/asm-all-8.0.1.jar
/design/lib/asm_license.txt
/design/lib/automaton-1.12-1.jar
/design/lib/extensions.jar
/design/lib/intellij-deps-fastutil-8.3.1-1.jar
/design/lib/java-api.jar
/design/lib/java-decompiler.jar
/design/lib/java-impl.jar
/design/lib/java_resources_en.jar
/design/lib/kotlin-stdlib-1.3.70.jar
/design/lib/platform-api.jar
/design/lib/platform-impl.jar
/design/lib/platform-util-ui.jar
/design/lib/trove4j.jar
/design/lib/util.jar
